# Housing Estimates Project - Module 03 - Gradient Boost Tree (XGBoost)

# Import Python Libraries and Data

In [ ]:
# All imports seperated into sections 
### Might want to distrubute them to the begining of their individual sections later?

#from xgboost import XGBClassifier ### no longer need?
from sklearn.model_selection import train_test_split

# Section model evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

# Section model engineering
#from xgboost import XGBRegressor ###?
from xgboost.sklearn import XGBRegressor
# Model Engineering Section
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
import numpy as np
from scipy.stats import uniform, randint

# Pandas!
import pandas as pd

In [ ]:
# Load data into dataframe
housing_df = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [ ]:
zip_income = pd.json_normalize([
    {
      "year": "2015",
      "zip": "98023",
      "AVG(agi)": "252559.33333333334"
    },
    {
      "year": "2015",
      "zip": "98116",
      "AVG(agi)": "271204.3333333333"
    },
    {
      "year": "2015",
      "zip": "98117",
      "AVG(agi)": "329058.6666666667"
    },
    {
      "year": "2015",
      "zip": "98034",
      "AVG(agi)": "400653.3333333333"
    },
    {
      "year": "2015",
      "zip": "98065",
      "AVG(agi)": "156428.66666666666"
    },
    {
      "year": "2015",
      "zip": "98031",
      "AVG(agi)": "192407.16666666666"
    },
    {
      "year": "2015",
      "zip": "98075",
      "AVG(agi)": "347268.1666666667"
    },
    {
      "year": "2015",
      "zip": "98028",
      "AVG(agi)": "182434.5"
    },
    {
      "year": "2015",
      "zip": "98103",
      "AVG(agi)": "480444.8333333333"
    },
    {
      "year": "2015",
      "zip": "98004",
      "AVG(agi)": "744926.1666666666"
    },
    {
      "year": "2015",
      "zip": "98166",
      "AVG(agi)": "167565.16666666666"
    },
    {
      "year": "2015",
      "zip": "98077",
      "AVG(agi)": "181469.16666666666"
    },
    {
      "year": "2015",
      "zip": "98008",
      "AVG(agi)": "253131.33333333334"
    },
    {
      "year": "2015",
      "zip": "98006",
      "AVG(agi)": "498776.5"
    },
    {
      "year": "2015",
      "zip": "98199",
      "AVG(agi)": "295854.6666666667"
    },
    {
      "year": "2015",
      "zip": "98052",
      "AVG(agi)": "724662.5"
    },
    {
      "year": "2015",
      "zip": "98136",
      "AVG(agi)": "171980.16666666666"
    },
    {
      "year": "2015",
      "zip": "98108",
      "AVG(agi)": "109694.83333333333"
    },
    {
      "year": "2015",
      "zip": "98055",
      "AVG(agi)": "119143.5"
    },
    {
      "year": "2015",
      "zip": "98027",
      "AVG(agi)": "301425.5"
    },
    {
      "year": "2015",
      "zip": "98058",
      "AVG(agi)": "254443"
    },
    {
      "year": "2015",
      "zip": "98144",
      "AVG(agi)": "233219"
    },
    {
      "year": "2015",
      "zip": "98115",
      "AVG(agi)": "522177.8333333333"
    },
    {
      "year": "2015",
      "zip": "98168",
      "AVG(agi)": "136339.66666666666"
    },
    {
      "year": "2015",
      "zip": "98102",
      "AVG(agi)": "324825"
    },
    {
      "year": "2015",
      "zip": "98042",
      "AVG(agi)": "287312.1666666667"
    },
    {
      "year": "2015",
      "zip": "98059",
      "AVG(agi)": "292038.3333333333"
    },
    {
      "year": "2015",
      "zip": "98002",
      "AVG(agi)": "116376.33333333333"
    },
    {
      "year": "2015",
      "zip": "98155",
      "AVG(agi)": "235453"
    },
    {
      "year": "2015",
      "zip": "98072",
      "AVG(agi)": "257721.5"
    },
    {
      "year": "2015",
      "zip": "98001",
      "AVG(agi)": "174795.33333333334"
    },
    {
      "year": "2015",
      "zip": "98112",
      "AVG(agi)": "506844.8333333333"
    },
    {
      "year": "2015",
      "zip": "98007",
      "AVG(agi)": "196337.5"
    },
    {
      "year": "2015",
      "zip": "98177",
      "AVG(agi)": "250578.66666666666"
    },
    {
      "year": "2015",
      "zip": "98074",
      "AVG(agi)": "360891.6666666667"
    },
    {
      "year": "2015",
      "zip": "98119",
      "AVG(agi)": "284532"
    },
    {
      "year": "2015",
      "zip": "98011",
      "AVG(agi)": "184975.33333333334"
    },
    {
      "year": "2015",
      "zip": "98014",
      "AVG(agi)": "60286"
    },
    {
      "year": "2015",
      "zip": "98106",
      "AVG(agi)": "121418.16666666667"
    },
    {
      "year": "2015",
      "zip": "98045",
      "AVG(agi)": "127394"
    },
    {
      "year": "2015",
      "zip": "98033",
      "AVG(agi)": "594629.6666666666"
    },
    {
      "year": "2015",
      "zip": "98125",
      "AVG(agi)": "250714.5"
    },
    {
      "year": "2015",
      "zip": "98133",
      "AVG(agi)": "258080.16666666666"
    },
    {
      "year": "2015",
      "zip": "98053",
      "AVG(agi)": "270856.3333333333"
    },
    {
      "year": "2015",
      "zip": "98122",
      "AVG(agi)": "319144.5"
    },
    {
      "year": "2015",
      "zip": "98022",
      "AVG(agi)": "128002.5"
    },
    {
      "year": "2015",
      "zip": "98178",
      "AVG(agi)": "117337.5"
    },
    {
      "year": "2015",
      "zip": "98148",
      "AVG(agi)": "46040"
    },
    {
      "year": "2015",
      "zip": "98019",
      "AVG(agi)": "95194.5"
    },
    {
      "year": "2015",
      "zip": "98010",
      "AVG(agi)": "42161.666666666664"
    },
    {
      "year": "2015",
      "zip": "98070",
      "AVG(agi)": "83651.5"
    },
    {
      "year": "2015",
      "zip": "98056",
      "AVG(agi)": "235237.33333333334"
    },
    {
      "year": "2015",
      "zip": "98030",
      "AVG(agi)": "142944.33333333334"
    },
    {
      "year": "2015",
      "zip": "98188",
      "AVG(agi)": "103554.5"
    },
    {
      "year": "2015",
      "zip": "98029",
      "AVG(agi)": "279240.1666666667"
    },
    {
      "year": "2015",
      "zip": "98107",
      "AVG(agi)": "241916.16666666666"
    },
    {
      "year": "2015",
      "zip": "98105",
      "AVG(agi)": "427418.8333333333"
    },
    {
      "year": "2015",
      "zip": "98198",
      "AVG(agi)": "178729.5"
    },
    {
      "year": "2015",
      "zip": "98003",
      "AVG(agi)": "187577.16666666666"
    },
    {
      "year": "2015",
      "zip": "98118",
      "AVG(agi)": "248921.66666666666"
    },
    {
      "year": "2015",
      "zip": "98126",
      "AVG(agi)": "153088.83333333334"
    },
    {
      "year": "2015",
      "zip": "98040",
      "AVG(agi)": "622019"
    },
    {
      "year": "2015",
      "zip": "98092",
      "AVG(agi)": "293828"
    },
    {
      "year": "2015",
      "zip": "98032",
      "AVG(agi)": "157967"
    },
    {
      "year": "2015",
      "zip": "98146",
      "AVG(agi)": "143447.33333333334"
    },
    {
      "year": "2015",
      "zip": "98024",
      "AVG(agi)": "46046.166666666664"
    },
    {
      "year": "2015",
      "zip": "98005",
      "AVG(agi)": "226854.66666666666"
    },
    {
      "year": "2015",
      "zip": "98039",
      "AVG(agi)": "176420.16666666666"
    },
    {
      "year": "2015",
      "zip": "98109",
      "AVG(agi)": "351616.1666666667"
    },
    {
      "year": "2015",
      "zip": "98038",
      "AVG(agi)": "252405.5"
    }
  ])

# Data Exploration

In [ ]:
housing_df.head()

           id             date  bedrooms  ...  sqft_living15  sqft_lot15     price
0  1565930130  20141104T000000         4  ...           3280        4033  429900.0
1  3279000420  20150115T000000         3  ...           1310        7865  233000.0
2   194000575  20141014T000000         4  ...           1900        5800  455000.0
3  2115510160  20141208T000000         3  ...           1790        7488  258950.0
4  7522500005  20140815T000000         2  ...           1690        5962  555000.0

[5 rows x 21 columns]

In [ ]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20000 non-null  int64
 1   date           20000 non-null  object
 2   bedrooms       20000 non-null  int64
 3   bathrooms      20000 non-null  float64
 4   sqft_living    20000 non-null  int64
 5   sqft_lot       20000 non-null  int64
 6   floors         20000 non-null  float64
 7   waterfront     20000 non-null  int64
 8   view           20000 non-null  int64
 9   condition      20000 non-null  int64
 10  grade          20000 non-null  int64
 11  sqft_above     20000 non-null  int64
 12  sqft_basement  20000 non-null  int64
 13  yr_built       20000 non-null  int64
 14  yr_renovated   20000 non-null  int64
 15  zipcode        20000 non-null  int64
 16  lat            20000 non-null  float64
 17  long           20000 non-null  float64
 18  sqft_living15  20000 non-null  int64
 19  sqft_lot15     20000 non-null  int64
 20  price          20000 non-null  float64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.2+ MB

In [ ]:
# Exploring bathrooms and bedrooms values of 0
housing_df.query("bathrooms == 0 or bedrooms == 0")

               id             date  ...  sqft_lot15      price
817    1222029077  20141029T000000  ...      224341   265000.0
1419   7849202190  20141223T000000  ...        7200   235000.0
1996   2569500210  20141117T000000  ...        8751   339950.0
3811   3918400017  20150205T000000  ...        1399   380000.0
4796   1453602309  20140805T000000  ...        1650   288000.0
7447   3421079032  20150217T000000  ...       42882    75000.0
7673   2954400190  20140624T000000  ...       35061  1295650.0
8454   3980300371  20140926T000000  ...       22850   142000.0
8461   2310060040  20140925T000000  ...        5685   240000.0
11369   203100435  20140918T000000  ...       19290   484000.0
12376  6896300380  20141002T000000  ...        6000   228000.0
14120  7849202299  20150218T000000  ...        4675   320000.0
16796  5702500050  20141104T000000  ...       22549   280000.0
19990  9543000205  20150413T000000  ...        9600   139950.0

[14 rows x 21 columns]

## Notes on potential data issues:

* <u>Date</u>
  * **Problem:**
    * Its not a number
  * **Potential Solutions:**
    * Needs to be converted into a number instead of an object
  * **Actions Taken**
    * For the moment it is removed from X

* <u>yr_renovated</u>
  * **Problem:**
    * Has 19,171 entries with 0 as a value. That doesn't make any sense as a year value. It is most likely due to that these houses were never renovated.
  * **Potential Solutions:**
    * Bin for has_been_renovated and has_not_been_renovated? Might leave the yr_renovated and add a seperate column for bins
  * **Actions Taken**
    * Nothing yet.

# Feature Engineering

* <u>Ideas</u>:<br>
  - combine latitude and longitude
  - zip code isn't very numerical
  - drop zip after one hot encoding
  - new feature of was_renovated
  - years since renovated/built

In [ ]:
# getting income by zip added to housing data
zip_income['zip'] = zip_income['zip'].astype('int')

zip_dict = dict(zip(zip_income.zip, zip_income['AVG(agi)']))
housing_df['avg_income'] = housing_df['zipcode'].map(zip_dict)

# Convert the avg_income from a string to a float
housing_df['avg_income'] = housing_df['avg_income'].astype('float')

In [ ]:
housing_df

               id             date  ...     price     avg_income
0      1565930130  20141104T000000  ...  429900.0  252405.500000
1      3279000420  20150115T000000  ...  233000.0  252559.333333
2       194000575  20141014T000000  ...  455000.0  271204.333333
3      2115510160  20141208T000000  ...  258950.0  252559.333333
4      7522500005  20140815T000000  ...  555000.0  329058.666667
...           ...              ...  ...       ...            ...
19995  5272200045  20141113T000000  ...  378000.0  250714.500000
19996  9578500790  20141111T000000  ...  399950.0  252559.333333
19997  7202350480  20140930T000000  ...  575000.0  270856.333333
19998  1723049033  20140620T000000  ...  245000.0  136339.666667
19999  6147650280  20150325T000000  ...  315000.0  287312.166667

[20000 rows x 22 columns]

In [ ]:
# New feature of how many years its been since the house was built or renovated
# Has not been tested

# import datetime
# currentDateTime = datetime.datetime.now()
# year = currentDateTime.date().year



# def one_or_zero(x):
#   if x > 0:
#     return year - x
#   else:
#     return 0

# housing_df['since_last_remodel'] = housing_df['yr_renovated'].apply((year - housing_df['yr_build']) if (lambda x: one_or_zero(x)) == 0 else (lambda x: one_or_zero(x)))

In [ ]:
# housing_df['since_last_remodel']

0        0
1        0
2        0
3        0
4        0
        ..
19995    0
19996    0
19997    0
19998    0
19999    0
Name: since_last_remodel, Length: 19992, dtype: int64

In [ ]:
# creating a month column derived from date
housing_df['date'] = pd.to_datetime(housing_df['date'])
housing_df['month'] = housing_df['date'].dt.month
# Add year_sold derived from date
housing_df['year_sold'] = housing_df['date'].dt.year

In [ ]:
# Dropping rows where we are almost positive that there is an error in the number of bedrooms and bathrooms
housing_df = housing_df.drop([6984, 1419, 1996, 3811, 4796, 7673, 8461, 14120])

In [ ]:
# Make zipcode a category and bin it!
# One-hot-encode it where we split it
housing_df['zipcode']= housing_df['zipcode'].astype('category')
#housing_df.info()
#housing_df

In [ ]:
# Scale sqft features
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler() 

# housing_df['sqft_living_scaled'] = scaler.fit_transform(housing_df[ ['sqft_living'] ])
# housing_df['sqft_lot_scaled'] = scaler.fit_transform(housing_df[ ['sqft_lot'] ])
# housing_df['sqft_above_scaled'] = scaler.fit_transform(housing_df[ ['sqft_above'] ])
# Drop sqft_living, sqft_lot and sqft_above when creating dataframe X

In [ ]:
# Split data in X and y
#  'sqft_living', 'sqft_lot', 'sqft_above' if you scale it like above, you need to drop these columns
X = housing_df.drop(['price', 'date', 'id'], axis=1) ### Dropped date but will fix it later in feature engineering in order to include it. It needs to be a number and not an object

# One-hot-encode any categorical (just zipcode)
features = list(X.columns)
X = pd.get_dummies(X[features], drop_first=True)

y = housing_df['price']

In [ ]:
X

       bedrooms  bathrooms  ...  zipcode_98198  zipcode_98199
0             4       3.25  ...              0              0
1             3       1.75  ...              0              0
2             4       1.00  ...              0              0
3             3       1.75  ...              0              0
4             2       1.50  ...              0              0
...         ...        ...  ...            ...            ...
19995         3       1.50  ...              0              0
19996         3       2.50  ...              0              0
19997         3       2.50  ...              0              0
19998         1       0.75  ...              0              0
19999         4       2.50  ...              0              0

[19992 rows x 89 columns]

In [ ]:
# Split data in Xtest, ytest, Xtrain, ytrain
seed = 7 # Random state seed
test_size = 0.20 # An 80-20 split for train-to-test ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [ ]:
# Take out outliers
'''
# Create dataframe of train dataset consisting of y_train and X_train
y_train_df = pd.DataFrame(y_train)
X_train['price'] = y_train_df['price']

features = list(X_train.columns)

#put the rows that you DON'T want to remove outliers for here
exclude = ['zipcode', 'year_sold', 'month', 'lat', 'long']

#remove outliers by 3 standard deviations for all features
for f in features:
  if f in exclude:
    pass
  else:
    upper_limit = X_train[f].mean() + 3 * X_train[f].std()
    lower_limit = X_train[f].mean() - 3 * X_train[f].std()
    X_train = X_train[(X_train[f] < upper_limit) & (X_train[f] > lower_limit)]

# Resplit the train data
y_train = X_train['price']
X_train = X_train.drop('price', axis=1)
'''

# Model Engineering

In [ ]:
# Functions for finding best parameters
def display_scores(scores):
    print("Scores: {0}\nMean: {1:.3f}\nStd: {2:.3f}".format(scores, np.mean(scores), np.std(scores)))

def report_best_scores(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [ ]:
# Parameters for model
# params = {
#     "colsample_bytree": uniform(.65, .35),
#     "gamma": uniform(0.4, 0.2),
#     "learning_rate": uniform(0.05, 0.2), # default 0.1 
#     "max_depth": randint(3, 7), # default 3
#     "n_estimators": randint(120, 160), # default 100
#     "subsample": uniform(.7, .3)
# }
# #colsample_bytree = 0.7879632315094193, gamma = 0.5286645453699159, learning_rate=0.1545036912154077, max_depth = 5, n_estimators= 132, subsample=0.9125184201884811

In [ ]:
# Parameters for model
'''
params = {
    "colsample_bytree": uniform(0.7, 0.2),
    "gamma": uniform(0.7, 0.4),
    "learning_rate": uniform(0.02, 0.2), # default 0.1 
    "max_depth": [5], # default 3
    "n_estimators": randint(125, 170), # default 100
    "subsample": uniform(.7, .3)
}
'''
params = {
    "colsample_bytree": uniform(0.75, 0.25),
    #"gamma": uniform(0, 0.5),
    "learning_rate": uniform(0.03, 0.3), # default 0.1 
    "max_depth": randint(3, 25), #[5], # default 3
    "n_estimators": randint(120, 160), # default 100
    "subsample": uniform(0.85, 0.15),
    #"colsample_bylevel": randint(0.7, 0.3),
    #"reg_alpha": uniform(0, 1),
    #"reg_lambda": uniform(0,2),
    "objective": ['reg:squarederror']
}
#colsample_bytree = 0.9027946826759066, learning_rate=0.17881435160396597, n_estimators = 148, subsample = 0.8937432437965618
#colsample_bytree = 0.8062440012379376, learning_rate=0.14914914975122473, n_estimators = 124, subsample = 0.8949620824375276
'''
params = {
    "colsample_bytree": np.arange(0.6, 1.0, .0001),
    #"gamma": uniform(0, 0.5),
    "learning_rate": np.arange(0.03, 0.3, 0.0001), # default 0.1 
    "max_depth": [5], # default 3
    "n_estimators": randint(100, 150), # default 100
    "subsample": np.arange(0.5, 1.0, 0.0001), 
    #"colsample_bylevel": randint(0.7, 0.3),
    #"reg_alpha": uniform(0, 1),
    #"reg_lambda": uniform(0,2),
    "objective": ['reg:squarederror']
}
'''

'\nparams = {\n    "colsample_bytree": np.arange(0.6, 1.0, .0001),\n    #"gamma": uniform(0, 0.5),\n    "learning_rate": np.arange(0.03, 0.3, 0.0001), # default 0.1 \n    "max_depth": [5], # default 3\n    "n_estimators": randint(100, 150), # default 100\n    "subsample": np.arange(0.5, 1.0, 0.0001), \n    #"colsample_bylevel": randint(0.7, 0.3),\n    #"reg_alpha": uniform(0, 1),\n    #"reg_lambda": uniform(0,2),\n    "objective": [\'reg:squarederror\']\n}\n'

In [ ]:
model = XGBRegressor()
search = RandomizedSearchCV(model, param_distributions=params, random_state=42, n_iter=200, cv=3, verbose=2, n_jobs=1, return_train_score=True)
search.fit(X, y)
report_best_scores(search.cv_results_, 1)

Fitting 3 folds for each of 200 candidates, totalling 600 fits
[CV] END colsample_bytree=0.8436350297118407, learning_rate=0.3152142919229748, max_depth=13, n_estimators=127, objective=reg:squarederror, subsample=0.9397987726295555; total time=  13.7s
[CV] END colsample_bytree=0.8436350297118407, learning_rate=0.3152142919229748, max_depth=13, n_estimators=127, objective=reg:squarederror, subsample=0.9397987726295555; total time=  13.1s
[CV] END colsample_bytree=0.8436350297118407, learning_rate=0.3152142919229748, max_depth=13, n_estimators=127, objective=reg:squarederror, subsample=0.9397987726295555; total time=  12.9s
[CV] END colsample_bytree=0.7890046601106091, learning_rate=0.07679835610086079, max_depth=13, n_estimators=130, objective=reg:squarederror, subsample=0.9799264218662402; total time=  19.5s
[CV] END colsample_bytree=0.7890046601106091, learning_rate=0.07679835610086079, max_depth=13, n_estimators=130, objective=reg:squarederror, subsample=0.9799264218662402; total time=  12.6s
[CV] END colsample_bytree=0.7890046601106091, learning_rate=0.07679835610086079, max_depth=13, n_estimators=130, objective=reg:squarederror, subsample=0.9799264218662402; total time=  12.9s
[CV] END colsample_bytree=0.9002787529358022, learning_rate=0.24242177333881365, max_depth=24, n_estimators=121, objective=reg:squarederror, subsample=0.9582998158400237; total time=  27.1s
[CV] END colsample_bytree=0.9002787529358022, learning_rate=0.24242177333881365, max_depth=24, n_estimators=121, objective=reg:squarederror, subsample=0.9582998158400237; total time=  27.5s
[CV] END colsample_bytree=0.9002787529358022, learning_rate=0.24242177333881365, max_depth=24, n_estimators=121, objective=reg:squarederror, subsample=0.9582998158400237; total time=  27.6s

In [ ]:
# Use the new parameters to create model
new_model = XGBRegressor(objective = 'reg:squarederror', colsample_bytree = 0.776689016483971, learning_rate=0.13069801943908896, max_depth = 6, n_estimators= 145, subsample= 0.9082402575984808)
new_model.fit(X_train, y_train)

XGBRegressor(colsample_bytree=0.776689016483971,
             learning_rate=0.13069801943908896, max_depth=6, n_estimators=145,
             objective='reg:squarederror', subsample=0.9082402575984808)

# Model Evaluation

In [ ]:
# Get our predictions from the model
predictions = new_model.predict(X_test)

In [ ]:
# Display the metrics for regression

# Get the RMSE (Root Mean Squared Error) and MSE (Mean Squared Error).
# Same function but if squared is False it gives the RMSE and true gives us the MSE
rmse = mean_squared_error(y_test, predictions, squared=False)
mse = mean_squared_error(y_test, predictions, squared=True)

# Get the MAE (Mean absolute Error) and R2-score
mae = mean_absolute_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

# Display all
print(f'Root Mean Square Error: {rmse}')
print(f'Mean Squared Error: {mse}')
print(f'Mean Absolute Error: {mae}')
print(f'R2-score {r2}')

Root Mean Square Error: 124038.6327857959
Mean Squared Error: 15385582423.369522
Mean Absolute Error: 65292.67507892598
R2-score 0.8940448272251955

In [ ]:
from xgboost import plot_importance
from matplotlib import pyplot

new_model.feature_importance_

plot_importance(new_model)# Need to test
pyplot.show()

* **Notes on Metrics**

* Without date included and without anyother feature or model engineering we get:<br/>
Root Mean Square Error: 137,082.37785552136<br/>
Mean Squared Error: 18,791,578,318.523937<br/>
Mean Absolute Error: 78,572.33020703125<br/>
R2-score 0.866017938752397<br/>

* With hyperparameter searching. 200 interations with parameters:<br>
colsample_bytree = 0.7072947899294361, gamma = 0.3227361479535839, learning_rate=0.08313320382211467, max_depth = 5, n_estimators= 129, subsample=0.9815714308010349<br>
Root Mean Square Error: 125660.48285822997<br>
Mean Squared Error: 15790556952.163507<br>
Mean Absolute Error: 69146.93280859374<br>
R2-score 0.887414918915405<br>

* With hyperparameter searching. 200 interations with parameters:<br>
colsample_bytree = 0.7879632315094193, gamma = 0.5286645453699159, learning_rate=0.1545036912154077, max_depth = 5, n_estimators= 132, subsample=0.9125184201884811<br>
Root Mean Square Error: <u>116270.6389007668</u><br>
Mean Squared Error: 13518861470.392506<br>
Mean Absolute Error: 66875.64944921875<br>
R2-score 0.9036118789586449<br>

* With hyperparameter searching. 200 interations with parameters:<br>
colsample_bytree = 0.6434289495173308, gamma = 0.39436596393613255, learning_rate=0.09784903429809244, max_depth = 5, n_estimators= 147, subsample=0.9237313958767761<br>
Root Mean Square Error: 117734.01226536678<br>
Mean Squared Error: 13861297644.101534<br>
Mean Absolute Error: 67336.10124804688<br>
R2-score 0.9011703435207168<br>

* With hyperparameter searching. 200 interations with parameters:<br>
early_stopping_rounds = 16, colsample_bytree = 0.9538190128863024, gamma = 0.4062604627495033, learning_rate=0.19625401339473714, max_depth = 5, n_estimators= 135, subsample=0.9572080276277495<br>
Root Mean Square Error: 128424.63925223757<br>
Mean Squared Error: 16492887967.06736<br>
Mean Absolute Error: 67696.51213476562<br>
R2-score 0.8824073694983249<br>

* colsample_bytree = 0.7447606356002439, gamma = 0.5287999086478032, learning_rate=0.1317468342196193, max_depth = 5, n_estimators= 147, subsample=0.9519366578369711
*Root Mean Square Error: 116664.8690349808
Mean Squared Error: 13610691666.949223
Mean Absolute Error: 66975.35634570313
R2-score 0.9029571389037708
<br><br><br>
** New features **
* colsample_bytree = 0.765308153761167, gamma = 0.9281775897621597, learning_rate=0.12416685200516474, max_depth = 5, n_estimators= 164, subsample=0.9533601546034454
* Root Mean Square Error: 127928.42164690499
Mean Squared Error: 16365681065.068308
Mean Absolute Error: 66031.36654866842
R2-score 0.88729522762864

* Run with these parameters:<br>
XGBRegressor(colsample_bytree=0.8062440012379376,
learning_rate=0.14914914975122473, max_depth=5, n_estimators=124,
objective='reg:squarederror', subsample=0.8949620824375276)<br>
Root Mean Square Error: 125985.9489326514<br>
Mean Squared Error: 15872459328.460646<br>
Mean Absolute Error: 67123.77203285196<br>
R2-score 0.8906918747545347
<br><br>
objective = 'reg:squarederror', colsample_bytree = 0.9027946826759066, learning_rate=0.17881435160396597, max_depth = 5, n_estimators= 148, subsample=0.8937432437965618<br>
Root Mean Square Error: 125779.9240961793<br>
Mean Squared Error: 15820589305.640625<br>
Mean Absolute Error: 66431.0628653257<br>
R2-score 0.8910490856210782<br><br>

* Run with these parameters:<br>
objective = 'reg:squarederror', colsample_bytree = 0.7805219886751683, learning_rate=0.13688935142309247, max_depth = 5, n_estimators= 152, subsample= 0.8908198374076953<br>
Root Mean Square Error: 122734.34128897787<br>
Mean Squared Error: 15063718531.6393<br>
Mean Absolute Error: 66820.9376601963<br>
R2-score 0.8962613922742018<br><br>
Used theses params on randomsearchcv with 100 iterations:<br>
params = {
    "colsample_bytree": uniform(0.75, 0.25),
    #"gamma": uniform(0, 0.5),
    "learning_rate": uniform(0.03, 0.3), # default 0.1 
    "max_depth": [5], # default 3
    "n_estimators": randint(120, 160), # default 100
    "subsample": uniform(0.85, 0.15),
    #"colsample_bylevel": randint(0.7, 0.3),
    #"reg_alpha": uniform(0, 1),
    #"reg_lambda": uniform(0,2),
    "objective": ['reg:squarederror']
}<br><br>
<br>
objective = 'reg:squarederror', colsample_bytree = 0.8398727878049388, learning_rate=0.118077553279348, max_depth = 8, n_estimators= 145, subsample= 0.9715170092018771<br>
Root Mean Square Error: 124833.00545308222
Mean Squared Error: 15583279250.449255
Mean Absolute Error: 63925.51140714866
R2-score 0.8926833577082244

<br><br>
** New parameters **
objective = 'reg:squarederror', colsample_bytree = 0.776689016483971, learning_rate=0.13069801943908896, max_depth = 6, n_estimators= 145, subsample= 0.9082402575984808<br>
Root Mean Square Error: 122124.14593553252<br>
Mean Squared Error: 14914307020.483244<br>
Mean Absolute Error: 64726.10565922731<br>
R2-score 0.8972903375583945<br>

In [ ]:
#Combine the predictions back with the test data
y_hat = pd.DataFrame(predictions)
y_hat.rename(columns = {0:'predictions'}, inplace = True)
#y_hat

df_out = X_test.reset_index()
#X_test
df_out

In [ ]:


df_out['actual'] = y_test.reset_index()['price'] #build this out piece by piece
df_out['predicted'] = y_hat.reset_index()['predictions']
df_out['resid'] = df_out.actual - df_out.predicted

import seaborn as sns
resid_plot = sns.histplot(df_out['resid'], kde = False) #This makes a histogram of the residuals
# Add vertical lines for refrences
resid_plot.axvline( 100000, linewidth = .6, color= 'red')
resid_plot.axvline(-100000, linewidth = .6, color= 'red')
resid_plot.axvline(0, linewidth = .6, color= 'black')
# horizontal line if needed
#plt.axhline(2, 0,200, color= 'red')
resid_plot.set(title='Histogram of Residuals of Actual & Predicted Price', xlabel= 'Residuals (in millions)')
#resid_plot.axis.set()
#resid_plot.set(rc={"figure.figsize":(3, 4)}) ### need to test this line out

#df_out.sort_values(by = 'resid')
print(f"residual median: {df_out['resid'].median()}")
print(f"residual mean: {df_out['resid'].mean()}")
print(f"residual max: {df_out['resid'].max()}")
print(f"residual min: {df_out['resid'].min()}")
#df_out.query('resid > -100000 & resid < 100000')

In [ ]:
within_range = df_out.query('resid > -100000 & resid < 100000')['resid'].count()
total = df_out['resid'].count()
print(f'Percent within $100,000 is {(within_range/total*100).round(2)}%')
within_range = df_out.query('resid > -50000 & resid < 50000')['resid'].count()
total = df_out['resid'].count()
print(f'Percent within $50,000 is {(within_range/total*100).round(2)}%')

# Pickle it! (serialize)

In [ ]:
import pickle
s5 = pickle.dumps(new_model)
pickeled_model = pickle.loads(s5)

In [ ]:
# Saving the model as a file
from joblib import dump, load
dump(pickeled_model, 'module3_model.joblib')
unpickeled_model = load('module3_model.joblib') 
from google.colab import files
files.download("module3_model.joblib")

# Run Hold Out Data

In [ ]:
# Run the hold out
hold_out_data = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing_holdout_test.csv")

In [ ]:
# getting income by zip added to housing data
zip_income['zip'] = zip_income['zip'].astype('int')

zip_dict = dict(zip(zip_income.zip, zip_income['AVG(agi)']))
hold_out_data['avg_income'] = hold_out_data['zipcode'].map(zip_dict)

# Convert the avg_income from a string to a float
hold_out_data['avg_income'] = hold_out_data['avg_income'].astype('float')

In [ ]:
# New feature of how many years its been since the house was built or renovated
'''
import datetime
currentDateTime = datetime.datetime.now()
year = currentDateTime.date().year



def one_or_zero(x):
  if x > 0:
    return year - x
  else:
    return 0

housing_df['since_last_remodel'] = housing_df['yr_renovated'].apply((year - housing_df['yr_build']) if (lambda x: one_or_zero(x)) == 0 else (lambda x: one_or_zero(x)))
'''

In [ ]:
# creating a month column derived from date
hold_out_data['date'] = pd.to_datetime(hold_out_data['date'])
hold_out_data['month'] = hold_out_data['date'].dt.month
# Add year_sold derived from date
hold_out_data['year_sold'] = hold_out_data['date'].dt.year

In [ ]:
# Make zipcode a category and bin it!
# One-hot-encode it where we split it
hold_out_data['zipcode']= hold_out_data['zipcode'].astype('category')
#housing_df.info()
#housing_df

In [ ]:
# Split data in X and y
X = hold_out_data.drop(['date', 'id'], axis=1) ### Dropped date but will fix it later in feature engineering in order to include it. It needs to be a number and not an object

# One-hot-encode any categorical (just zipcode)
features = list(X.columns)
X = pd.get_dummies(X[features], drop_first=True)

In [ ]:
X.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'avg_income', 'month', 'year_sold',
       'zipcode_98002', 'zipcode_98003', 'zipcode_98004', 'zipcode_98005',
       'zipcode_98006', 'zipcode_98007', 'zipcode_98008', 'zipcode_98010',
       'zipcode_98011', 'zipcode_98014', 'zipcode_98019', 'zipcode_98022',
       'zipcode_98023', 'zipcode_98024', 'zipcode_98027', 'zipcode_98028',
       'zipcode_98029', 'zipcode_98030', 'zipcode_98031', 'zipcode_98032',
       'zipcode_98033', 'zipcode_98034', 'zipcode_98038', 'zipcode_98039',
       'zipcode_98040', 'zipcode_98042', 'zipcode_98045', 'zipcode_98052',
       'zipcode_98053', 'zipcode_98055', 'zipcode_98056', 'zipcode_98058',
       'zipcode_98059', 'zipcode_98065', 'zipcode_98070', 'zipcode_98072',
       'zipcode_98074', 'zipcode_98075', 'zipcode_98077', 'zipcode_98092',
       'zipcode_98102', 'zipcode_98103', 'zipcode_98105', 'zipcode_98106',
       'zipcode_98107', 'zipcode_98108', 'zipcode_98109', 'zipcode_98112',
       'zipcode_98115', 'zipcode_98116', 'zipcode_98117', 'zipcode_98118',
       'zipcode_98119', 'zipcode_98122', 'zipcode_98125', 'zipcode_98126',
       'zipcode_98133', 'zipcode_98136', 'zipcode_98144', 'zipcode_98146',
       'zipcode_98148', 'zipcode_98155', 'zipcode_98166', 'zipcode_98168',
       'zipcode_98177', 'zipcode_98178', 'zipcode_98188', 'zipcode_98198',
       'zipcode_98199'],
      dtype='object')

In [ ]:
corrected_holdout_predictions = new_model.predict(X)
pd.DataFrame(corrected_holdout_predictions).to_csv('corrected_module3_predictions.csv')

In [ ]:
from google.colab import files
files.download('corrected_module3_predictions.csv')

In [ ]:
holdout_predictions = pickeled_model.predict(X)
pd.DataFrame(holdout_predictions).to_csv('module3_predictions.csv')

In [ ]:
hold_out_data

In [ ]:
files.download("module3_predictions.csv")